@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@theme inline {
  --font-serif: var(--font-serif);
  --font-pixel: var(--font-pixel);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

body {
  font-family: var(--font-serif);
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  cursor: url('/cursor.png') 12 12, auto;
}

a, button, [role='button'], input[type='submit'], input[type='button'], textarea, select, label {
  cursor: url('/cursor.png') 12 12, auto;
}

.prose {
  font-weight: 600 !important;
  font-size: 18px !important;
  line-height: 175% !important;
}

.prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
  font-weight: 600 !important;
}

.prose p, .prose li, .prose span, .prose a, .prose strong, .prose em {
  font-weight: 600 !important;
}
